.container{
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  width: fit-content;
  margin: 20px 0;
}

.text-span{
  color: #ff005c;
  font-size: 20px;
  margin: 20px 0;
}

.caja{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 20px 0;
}

.caja-mediana{
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 20px 0;
}

.caja-grande{
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 20px 0;
}

/* SELECTORES */
#selectorId{
  color: #8c54fb;
}

.selectorClase{
  color: #e11d48;
}

h5{
  color: #e11d48;
}


/* UNIDADES RELATIVAS */

.small-font{
  font-size: 10px;
}

.em{
  font-size: 2em;
}

.rem{
  font-size: 2rem;
}

.porcentaje{
  width: 50%;
  height: 50%;
  background-color: #8c54fb;
  border-radius: 1rem;
}

.vh{
  height: 10vh;
  background-color: #8c54fb;
}
.vw{
  height: 100px;
  width: 10vw;
  background-color: #8c54fb;
}

.bg-color{
  background-color: #dc143c;
  /* background-color: crimson;
  background-color: rgb(220, 20, 60); */
}

.bg-img{
  background-image: url('./img/bg-pattern.jpg');
  /* background-position: center; */
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
}
.bg-repeat{
  background-image: url('./img/bg-repeat.png');
  /* background-repeat: repeat; */
}
.bg-attachment{
  background-image: url('./img/bg-pattern.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.bg-position{
  background-image: url('./img/messi.webp');
  background-position: center;
}
.bg-size{
  background-size: cover;
}
