.container{
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  width: fit-content;
  margin: 20px 0;
}

.text-span{
  color: #ff005c;
  font-size: 20px;
  margin: 20px 0;
}

.caja{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 20px 0;
}

.caja-mediana{
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 20px 0;
}

.caja-grande{
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 1rem;
  background-color: #6b7280;
  margin: 0;
}

/* SELECTORES */
#selectorId{
  color: #8c54fb;
}

.selectorClase{
  color: #e11d48;
}

h5{
  color: #e11d48;
}


/* UNIDADES RELATIVAS */

.small-font{
  font-size: 10px;
}

.em{
  font-size: 2em;
}

.rem{
  font-size: 2rem;
}

.porcentaje{
  width: 50%;
  height: 50%;
  background-color: #8c54fb;
  border-radius: 1rem;
}

.vh{
  height: 10vh;
  background-color: #8c54fb;
}
.vw{
  height: 100px;
  width: 10vw;
  background-color: #8c54fb;
}

.bg-color{
  background-color: #dc143c;
  /* background-color: crimson;
  background-color: rgb(220, 20, 60); */
}

.bg-img{
  background-image: url('./img/bg-pattern.jpg');
  /* background-position: center; */
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
}
.bg-repeat{
  background-image: url('./img/bg-repeat.png');
  /* background-repeat: repeat; */
}
.bg-attachment{
  background-image: url('./img/bg-pattern.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.bg-position{
  background-image: url('./img/messi.webp');
  background-position: center;
}
.bg-size{
  background-size: cover;
}


.caja-shadow {
  background-color: #8c54fb;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 40px 0;
}

.offsetXY{
  box-shadow: 25px 25px; /* offset-x offset-y */ 
}

.blurRadius {
  box-shadow: 25px 25px 5px;
}

.spreadRadius {
  box-shadow: 25px 25px 5px 5px;
}

.no-inset {
  box-shadow: 0px 0px 5px 5px #dc143c;
}

.inset {
  box-shadow: inset 0px 0px 5px 5px #dc143c;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
.font-family {
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Cherry Bomb One', cursive;
}

.font-weight {
  font-family: 'Cherry Bomb One', cursive;
  font-weight: bold;
}

.font-style {
  font-family: 'Cherry Bomb One', cursive;
  font-weight: bold;
  font-style: italic;
}

.font-size {
  font-family: 'Cherry Bomb One', cursive;
  font-weight: bold;
  font-size: 22px;
}

.letter-spacing{
  letter-spacing: 10px;
}

.word-spacing{
  word-spacing: 50px;
}

.line-height{
  line-height: 50px;
}

.text-align{
  text-align: justify;
}

.text-transform{
  text-transform: uppercase;
}

.text-decoration{
  text-decoration: underline;
}

.list-type{
  /* list-style-type: none; */
  list-style: none;
}

.list-img{
  list-style-image: url('./img/messi-list-img.jpg');
  list-style-position: inside;
}

.content{
  background-color: black;
}
.caja-interior{
  background-color: #e11d48;
  border-radius: 10px;
  border: 4px solid white;
  margin: 50px;
  padding: 50px;
}



