/* Estilos de la clase */
.container {
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  width: fit-content;
  margin: 20px 0;
}

.text-span {
  color: #ff005c;
  font-size: 20px;
  margin: 20px 0;
}

/* overflow */


/* Border radius */


/* margin */


/* positions */

